.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6%;

}

table {
  
  border:5px white;
  background-color: white;
  border-width:3;
  padding:30px; 
  spacing:20px;
  margin-left:auto;
  margin-right:auto;
}

}

th
{
font-size: 45px;
letter-spacing: 4;
font-family: Rubik Mono One


}
body {
  font-family: Rubik Mono One,sans-serif;
  background-image: url('desktop-wallpaper-kfc.jpg');
  background-repeat: no-repeat;
  background-size: 3500px;
}

}

td
{
  font-size:21
  px;
  spacing:20px;
  padding:10px;
  font-family: Friz Quadrata Std, sans-serif;
  color: white;
}

#KFC
{
  text-align: center;
  font-size:45px;
  font-family: Friz Quadrata Std, sans-serif;
  spaci
}

#BucketMeal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
transition: all 0.4s
}

.btn {
  border-radius:30px;
  border:0;
  font-size:13px;
  font-weight:100;
  margin:1rem 0;
  padding:2rem 3rem;
  text-transform:uppercase;
  white-space:nowrap;
  background: #E4002B;
  color:white;
  font-family: Friz Quadrata Std, sans-serif;
}

.btn:hover {
  transform:scale(1.3);
}

colspan {
  font-style:Rubik Mono One
  }